:root{  

--cor-texto-principal:#ffffff;
--cor-texto-segundario:#000000;
--botao-principal:#ffff00;
--botao-secundario:#33ff00;


}

body{

background-color:var(--botao-secundario) ;
color:var(--cor-texto-principal) ;

}


*{
    margin:0;
    padding:0;
}

.principal{
   background-color: black;
    background-image: url("./img/download\ \(1\).jpeg");
    background-repeat:no-repeat ;   
    background-size: cover;
}

.container{

height: 100vh; ;

}


