:root{  

--cor-texto-principal:#ffffff;
--cor-texto-segundario:#fffb00;
--botao-principal:#216e09;
--botao-secundario:#2600ff;


}

body{

background-color:var(--botao-secundario) ;
color:var(--cor-texto-principal) ;
font-size:35px ;
  }


*{
    margin:0;
    padding:0;
}

.principal{
   background-color: rgb(255, 255, 255);
    background-image: url("./download.jpeg");
    background-repeat:no-repeat ;   
    background-size: cover;
    text-align:center;
align-items: center;
}

.container{

height: 100vh; ;
display:grid ;
grid-template-columns:50% 50% ;

}


.container--botao{  

background-color: var(--botao-principal);
color: var(--cor-texto-segundario) ;
padding: lem;
border-radius: 5px;
text-decoration:none ;
display:block ;
margin-bottom:2em ;
}
.botao--secundario{         
background-color:transparent ;
border:1px solid var(--cor-texto-principal) ;

}
.container--caixa{  

margin:0 6em ;


}
.container--img { 


  margin:  1em 0 2em 0;
}

.secundario{

  align-items: center;
  margin:0 10em;



}





