:root{  

--cor-texto-principal:#030000;
--cor-texto-segundario:#000000;
--botao-principal:#ffffff;
--botao-secundario:#000000;


}

body{

background-color:var(--botao-secundario) ;
color:var(--cor-texto-principal) ;

}


*{
    margin:0;
    padding:0;
}

.principal{
   background-color: black;
    background-image: url("./img/cafu-2002-1.jpeg.webp");
    background-repeat:no-repeat ;   
    background-size: cover;
}

.container{

height: 100vh; ;

}


.container--botao{  

background-color: var(--botao-principal);
color: var(--cor-texto-segundario) ;
padding: lem;
border-radius: 5px;
text-decoration:none ;

}